extends layout

block content
    div.space
        .bg-primary.d-flex.align-items-center(style="height: 70px;")
            p.h1.title Detalles de envio

        div.detalles
            p Número de guía: 
            p Remitente:
            p Destinatario:
            p Lugar de origen:
            p Lugar de destino:
            p Tipo de envío:
            p Fecha de creación: 
            p Altura del paquete:
            p Ancho del paquete:
            p Profundidad del paquete:
            p Peso del paquete:
            p Precio:
            p Metodo de pago:

        .bg-secondary.d-flex.align-items-center(style="height: 50px;")
            p.h2.trayect Trayectoria

        -let n = 3
        .process
            ul.StepProgress
                each num, key in  {1 : 'En espera de entrega', 2 : 'En espera de recolección', 3 : 'En tránsito', 4 : 'En espera de recepción', 5 : 'Completado', 6 : 'Almacén', 7 : 'Cancelado'}
                    
                    if n==7
                        .StepProgress-item.current.d-none
                        if key == n
                            .StepProgress-item.is-done.b-line
                                strong= num
                                    p Fecha: 00/00/0000   
                                    p Hora:  00:00 

                    else if n==6
                        .StepProgress-item.current.d-none
                        if key == n
                            .StepProgress-item.is-done.b-line
                                strong= num
                                    p Fecha: 00/00/0000   
                                    p Hora:  00:00 
                    
                    else if n > 0
                        .StepProgress-item.is-done
                            strong= num
                            -n-- 
                            if n == 0
                                p Fecha: 00/00/0000   
                                p Hora:  00:00

                    else
                        if n != 6 || n !=7
                            .StepProgress-item.current.d-none
                                strong.d-none= num

                        if key<6
                            if key==5 && n<4
                                .StepProgress-item.current.b-line
                                    strong= num
                                    -n-- 
                            
                            else
                                .StepProgress-item.current
                                    strong= num
                                    -n-- 

                        

    